/* Der Kartencontainer */
#map-container {
    width: 80%;
    height: 600px;
    position: relative;
}

/* Die Karte */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Der Zurück-Knopf */
#return-button {
    position: absolute;
    z-index: 500;
    font-family: sans-serif;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: 3px solid lightskyblue;
    border-radius: 30px;
    cursor: pointer;
    display: none;
}

/* Die Beschriftungen der Landkreise auf Übersichtskarte */
.tooltip {
    background-color: #00000000;
    border: none;
    box-shadow: none;
    color: #00000090;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
}